@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=vietnamese');
/*@import url(../css/bootstrap.min.css);*/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; 
}
body{
    margin: 0;
}
.sm-hidden{
    display: none;
}
.login-page{
    font-family: 'Roboto', sans-serif;
    display: -webkit-flex;
    display: flex;
}
.login-logo img{
    max-width: 100%;
}
.login-bg{
    width: 65%;
    height: 100%;
    top: 0;
    left: 0;
    background: #1C3F95 url(../images/login-bg.png) center center no-repeat;
    background-size: contain;
    position: absolute;
    overflow: hidden;
}

.login-form{
    width: 35%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    padding-top: 150px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.login-login{
    display: -webkit-flex;
    display: flex;
    width: 270px;
    margin: 100px auto 0;
}
.btn-login{
    position: relative;
    display: inline-block;
    outline: none;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 14px;
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
	perspective: 800px;
}
.btn-login span {
	position: relative;
	display: inline-block;
	padding: 15px 15px;
	background: #1C3F95;
/*	box-shadow: inset 0 3px #2f4351;*/
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s;
	transition: background 0.6s;
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: 0% 50%;
	-moz-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
}
.btn-login span:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 15px 0 16px;
	background: #fff;
	color: #1C3F95;
	content: attr(data-hover);
	-webkit-transform: rotateX(270deg);
	-moz-transform: rotateX(270deg);
	transform: rotateX(270deg);
	-webkit-transition: -webkit-transform 0.6s;
	-moz-transition: -moz-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	pointer-events: none;
}
.btn-login:hover span,
.btn-login:focus span {
	background: #2f4351;	
}
.btn-login:hover span:before,
.btn-login:focus span:before {
    -webkit-transform: rotateX(10deg);	
	-moz-transform: rotateX(10deg);
	transform: rotateX(10deg)
}

.login-icon{
    background: #3F7DD8;
    position: relative;
    width: 60px;
    padding: 10px 0;
    z-index: 999;
}
.login-icon:after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #3F7DD8;
    z-index: 2;
    left: 55px;
    top: 20px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.login-link{
    margin-top: 10px;
    margin-left: -4px;
}
.login-link a {
	color: #1C3F95;
    text-decoration: none;
    display: inline-block;
	text-shadow: none;
    position: relative;
    font-size: 1.55em;
} 

.login-link a:before {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	max-width: 0;
	color: #1C3F95;
	content: attr(data-hover);
	-webkit-transition: max-width 0.5s;
	-moz-transition: max-width 0.5s;
	transition: max-width 0.5s;
}

.login-link a:hover:before,
.login-link a:focus:before {
	max-width: 100%;
}

@media only screen and (max-width: 768px){
    .sm-hidden{
        display: block;
    }
    .login-page{
        display: block;
        position: relative;
    }
    .login-bg{
        position: relative;
        width: 100%;
        background: #1C3F95;
    }
     .login-bg img{
        width: 100%;
    }
    .login-form{
        position: relative;
        text-align: center;
        width: 100%;
        padding: 35px 0;
    }
    .login-login{
        margin-top: 80px;
    }
}
@media only screen and (max-width: 480px){
    .login-form{
        position: relative;
        text-align: center;
        width: 100%;
        padding-top: 20px;
    }
    .login-login{
        margin-top: 20px;
    }
}





